#listings {
  position: relative;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 100vh;
}

#sidebar {
  background: #333;
  width: 400px;
}

#sidebar img {
  position: relative;
  top: 80px;
  left: 64px;
}

#sidebar nav {
  position: relative;
  top: 120px;
}

#sidebar nav ul {
  display:flex;
  align-items: center;
  flex-direction: column;
}

#sidebar nav li {
  width: 320px;
  height: 64px;
  margin-top: 10%;
  display:flex;
  align-items: center;
  justify-content: center;
}

#sidebar .menuTitle {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10%;
}

#sidebar .menuButton {
  font-size: 40px;
  font-weight: 900;
  color: #333;
  text-decoration: none;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  width: 320px;
  height: 64px;
  margin-top: 10%;
  border-radius: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
}

#sidebar .menuButton:hover {
  text-decoration: underline;
}

#sidebar .bottomImage {
  margin-top: 70%;
  left: 40px;
  bottom:40px;

}

/*  ----------------  */

#dataView {
  left: 400px;
  display: flex;
  justify-content: center;
}

#dataView form {
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  height: 64px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dataView form input {
  width: 150px;
  border:none;
  background: none;
  margin-left: 20px;
  margin-top: 15px;
}

#dataView form button {
  position: relative;
  width: 64px;
  height: 64px;
  border:none;
  color: #F5F8FA;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dataView form button.inactive {
  position: relative;
  top: 15px;
  right: -75px;
}

#insertIncome {
  background: #27ae60;
}
#insertExpense {
  background: #eb5757;
}