{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "root",
  "password": "my-secret-pw",
  "database": "reactive",
  "synchronize": true,
  "logging": false,
  "entities": [
     "./src/Entity/*.ts"
  ],
  "migrations": [
     "./src/migration/*.ts"
  ],
  "subscribers": [
     "./src/ormSubscriber/*.ts"
  ],
  "cli": {
     "entitiesDir": "./src/Entity",
     "migrationsDir": "./src/migration",
     "subscribersDir": "./src/ormSubscriber"
  }
}