{
  "type": "mysql",
  "host": "localhost",
  "port": 3306,
  "username": "dbusername",
  "password": "dbpw",
  "database": "reactive",
  "synchronize": true,
  "logging": false,
  "migrations": [
    "./migrations/*.ts"
  ],
  "entities":[
    "./src/entity/*.ts"
  ],
  "subscribers": [
    "src/ormSubscriber/*.ts"
  ],
  "cli": {
    "migrationsDir": "./migrations"
  }
}
