#Autocomplete {
  position: relative;
  max-height: 3em;
}

#Autocomplete .wrapper {
  position: absolute;
  overflow-y: scroll;
  max-height: 10em;
  background-color: #f5f8fa;
  color: black;
  width: 10em;
  border-radius: 0px 0px 20px 20px;
}

#Autocomplete .wrapper::-webkit-scrollbar {
  display: none;
}

#Autocomplete .wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#Autocomplete .suggestion {
  padding: 0.4em 01em;
  cursor: default;
}
